In [2]:
import nltk
nltk.download

In [6]:
from nltk.corpus import stopwords
stopwords.words("english")[0:500:25]

['i', 'herself', 'been', 'with', 'here', 'very', 'doesn', 'won']

In [9]:
# Text data genetrally semi-structured ot unstructured data.
rawData =open("SMSSpamCollection.tsv").read()

In [10]:
rawData[0:500]

"ham\tI've been searching for the right words to thank you for this breather. I promise i wont take your help for granted and will fulfil my promise. You have been wonderful and a blessing at all times.\nspam\tFree entry in 2 a wkly comp to win FA Cup final tkts 21st May 2005. Text FA to 87121 to receive entry question(std txt rate)T&C's apply 08452810075over18's\nham\tNah I don't think he goes to usf, he lives around here though\nham\tEven my brother is not like to speak with me. They treat me like aid"

In [11]:
parsedData = rawData.replace("\t","\n").split("\n")
parsedData[0:5]

['ham',
 "I've been searching for the right words to thank you for this breather. I promise i wont take your help for granted and will fulfil my promise. You have been wonderful and a blessing at all times.",
 'spam',
 "Free entry in 2 a wkly comp to win FA Cup final tkts 21st May 2005. Text FA to 87121 to receive entry question(std txt rate)T&C's apply 08452810075over18's",
 'ham']

In [12]:
labelList =parsedData[0::2] #2= skip one element in the list
textList =parsedData[1::2]

In [13]:
print(labelList[0:5])
print(textList[0:5])

['ham', 'spam', 'ham', 'ham', 'ham']
["I've been searching for the right words to thank you for this breather. I promise i wont take your help for granted and will fulfil my promise. You have been wonderful and a blessing at all times.", "Free entry in 2 a wkly comp to win FA Cup final tkts 21st May 2005. Text FA to 87121 to receive entry question(std txt rate)T&C's apply 08452810075over18's", "Nah I don't think he goes to usf, he lives around here though", 'Even my brother is not like to speak with me. They treat me like aids patent.', 'I HAVE A DATE ON SUNDAY WITH WILL!!']

In [14]:
import pandas as pd

In [15]:
fullcorpus= pd.DataFrame({"label":labelList,"body_list": textList})

ValueError: All arrays must be of the same length

In [16]:
print(len(labelList))
print(len(textList))

5571
5570

In [18]:
print(labelList[-5:])

['ham', 'ham', 'ham', 'ham', '']

In [19]:
fullcorpus= pd.DataFrame({"label":labelList[:-1],"body_list": textList})

In [20]:
fullcorpus.head()

  label                                          body_list
0   ham  I've been searching for the right words to tha...
1  spam  Free entry in 2 a wkly comp to win FA Cup fina...
2   ham  Nah I don't think he goes to usf, he lives aro...
3   ham  Even my brother is not like to speak with me. ...
4   ham                I HAVE A DATE ON SUNDAY WITH WILL!!

In [25]:
fullcorpus = pd.read_csv("SMSSpamCollection.tsv", sep="\t", header= None)

In [26]:
fullcorpus.head()

      0                                                  1
0   ham  I've been searching for the right words to tha...
1  spam  Free entry in 2 a wkly comp to win FA Cup fina...
2   ham  Nah I don't think he goes to usf, he lives aro...
3   ham  Even my brother is not like to speak with me. ...
4   ham                I HAVE A DATE ON SUNDAY WITH WILL!!

In [28]:
fullcorpus.columns=["label","body text"]

In [30]:
fullcorpus.head()

  label                                          body text
0   ham  I've been searching for the right words to tha...
1  spam  Free entry in 2 a wkly comp to win FA Cup fina...
2   ham  Nah I don't think he goes to usf, he lives aro...
3   ham  Even my brother is not like to speak with me. ...
4   ham                I HAVE A DATE ON SUNDAY WITH WILL!!

## Explore Dataset

In [29]:
# what is the shape of the dataset
print("Input data has {} rows and {} columns".format(len(fullcorpus),len(fullcorpus.columns)))

Input data has 5568 rows and 2 columns

In [37]:
#How many spam / ham are there?
print("Out of {} rows, {} are spam,{} are ham".format(len(fullcorpus), len(fullcorpus[fullcorpus["label"]=="spam"]),len(fullcorpus[fullcorpus["label"]=="ham"])))

Out of 5568 rows, 746 are spam,4822 are ham

In [41]:
# How much missing data is there?
print("Number of null in label: {}".format(fullcorpus["label"].isnull().sum()))
print("Number of null in text: {}".format(fullcorpus["body text"].isnull().sum()))

Number of null in label: 0
Number of null in text: 0